*{
    border: 0;
    padding: 0;
    margin: 0 auto;/* 是内容默认居中显示 */
    font-family: "Montserrat-ExtraLight";/* 定义文本字体 */
}
body{
    width: 1600px;
    height: auto;
}
header{
    width: 1600px;
    height: 990px;;
    background-image: url(../images/Background.png);
    text-align: center;
}
header h1{
    font-size: 62px;
    font-weight: 100;
    color: #fff;
    padding-top:200px;
}
header p{
    width: 720px;
    padding-top:80px;
    color: #aaa;
    font-size: 20px;
    font-weight: 100;
}
.m-login{
    width: 970px;
    height: 250px;
    margin-top:100px;
    border: 1px solid #666;
}
.m-login h4{
    font-size: 16px;
    font-weight: 300;
    color:#fff;
    padding-top:60px;
    letter-spacing: 3px;/* 控制字间距 */
}
.m-login p{
    font-size:12px;
    padding-top: 10px;
    letter-spacing: 2px;
    color:#ccc;
}
.m-login form{
    margin: 40px 80px;
    display: flex;
    border-radius: 2px;
}
.u-email,
.u-password{
    width: 290px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    padding-left:20px;
    border: 1px solid #666;
    background: none;
    border-radius: 2px;/* 控制元素圆角 */
}
.u-email{
    color: #fff;
}
.u-password{
    color: #ccc;
}
.u-button{
    width: 120px;
    height: 50px;
    line-height: 50px;
    color:#000;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 1px;
    cursor: pointer;/* 鼠标经过显示小手 */
}

/* 头部内容css结束 */


/* 主体内容开始 */
.m-awesome{
    width: 100%;
    height: 700px;
    background-color:#fff;
    text-align: center;
}
.m-awesome h6{
    padding-top:80px;
    font-size: 14px;
    letter-spacing: 2px;
}
.m-awesome-p{
    width: 650px;
    font-size: 42px;
    padding-top: 30px;
    font-weight: 100;
}
.m-left-icon,
.m-right-icon{
    width: 40%;
    height: auto;
    float: left;
}
.m-left-icon{
    margin-left: 10% 
}
.m-left-icon div,
.m-right-icon div{
    padding-top:80px;
    width: 360px;
    height: auto;
}
.m-left-icon div img,
.m-right-icon div img{
    display: block;
    float: left;
}
.m-left-icon div h4,
.m-right-icon div h4{
    font-size: 20px;
    padding-left:80px;
    text-align: left;
    font-weight: 400;
}
.m-left-icon div p,
.m-right-icon div p{
    padding-left: 80px;
    font-size: 16px;
    color:#666;
    text-align: left;
    font-weight: 100;
    padding-top:10px;
}
.m-policy{
    width: 100%;
    height: 800px;
    background: url(../images/Background1.png);
}
.m-smart{
    width: 50%;
    float: left;
    text-align: left;
}
.m-smart h3{
    font-size: 42px;
    color: #fff;
    width: 370px;
    padding: 180px 0 0 180px;
    font-weight: 300;
}
.m-smart p{
    width: 370px;
    font-size: 18px;
    color:#fff;
    font-weight: 100;
    padding: 40px 0 0 180px;
}
.u-link{
    width: 100%;
    margin: 50px 0 0 304px;
}
.u-link a{
    display: block;
    width: 200px;
    height: 60px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    color:#fff;
    line-height: 60px;
    text-decoration: none;
    float: left;
    margin-right: 30px;
}
.u-link a:focus,
.u-link a:hover{
    background-color: #fff;
    color: #000;
}
.m-policy img{
    display: block;
    padding: 30px 0 30px 60px;
    border-left: 1px solid #ccc; 
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    border-radius: 30px 0 0 30px;
    position: relative;
    top: 130px;
    margin-right: 0; 
}
.u-circle{
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: none;
    position: relative;
    left:50px;
    top:-170px;
}
.m-product{
    width: 100%;
    height: 580px;
    background-color:#fff;
    text-align: center;
    border-bottom:1px solid #ccc;
}
.m-product h2{
    font-size: 42px;
    font-weight: 300;
    color:#141414;
    margin: 120px 0 100px 0;
}
.m-pro-cont{
    width: 1100px;
    display: flex;
    font-size: 16px;
    color:#141414;
    font-weight: 100;
    line-height: 26px;
}
.m-pro-cont div{
    width: 250px;
}
.m-pro-cont div img{
    padding-bottom: 40px;
}
.m-business{
    width: 100%;
    height: 550px;
    background-color: #fff;
}
.m-business img{
    float: left;
    margin-top:100px;
    margin-left:300px;
}
.m-business h5,
.m-choice h5{
    font-size: 20px;
    line-height: 32px;
    width: 300px;
    color: #141414;
    font-weight: 400;
}
.m-business p,
.m-choice p{
    font-size: 16px;
    line-height: 28px;
    width: 300px;
    color: #141414;
    font-weight: 100;
}
.m-choice{
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-bottom: 1px solid #ccc; 
}
.m-choice img{
    float: right;
    margin-top:40px;
    margin-right:300px;
}
.m-business h5{
    padding-top:160px;
    margin:0 300px 0 1000px;
}
.m-business p{
    padding-top:40px;
    margin:0 300px 0 1000px;
}
.m-choice h5{
    padding-top:100px;
    margin:0 1000px 0 300px;
}
.m-choice p{
    padding-top:40px;
    margin:0 1000px 0 300px;
}
.m-crew{
    width: 1600px;
    height: 1100px;
    border-bottom: 1px solid #ccc; 
    background-color: #fff;
    text-align: center;
}
.m-crew h2{
    font-size: 42px;
    font-weight: 300;
    color:#141414;
    margin: 120px 0 40px 0;
}
.m-crew p{
    width: 700px;
    font-size: 18px;
    line-height: 28px;
    color:#141414;
    font-weight: 100;
    margin-bottom: 40px;
}
.m-wid{
    width: 1000px;
}
.m-crew img{
    margin:10px;
}


/* 隐藏内容 */
.mmm{
    position: relative;
}
.m-hiddin1,
.m-hiddin2,
.m-hiddin3,
.m-hiddin4{
    width: 470px;
    height: 340px;
    background-color: #000;
    opacity: 0;
    text-align: center;
}
.m-hiddin1 h6,
.m-hiddin2 h6,
.m-hiddin3 h6,
.m-hiddin4 h6{
    color:#fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 80px 0 10px 0;
}
.m-hiddin1 p,
.m-hiddin2 p,
.m-hiddin3 p,
.m-hiddin4 p{
    width: 470px;
    color:#fff;
    font-weight: 100;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 1px;
    padding-bottom: 40px;
}
.m-hiddin1{
    display: block;
    float: left;
    position: absolute;
    z-index: 1;
    top:-899px;
    left:320px;
}
.m-hiddin1:hover{
    opacity: 0.7;
}
.m-hiddin2{
    z-index: 1;
    display: block;
    float: left;
    position: absolute;
    top:-899px;
    left:812px;
}
.m-hiddin2:hover{
    opacity: 0.7;
}
.m-hiddin3{
    z-index: 1;
    display: block;
    float: left;
    position: absolute;
    bottom:195px;
    left:812px;
}
.m-hiddin3:hover{
    opacity: 0.7;
}
.m-hiddin4{
    z-index: 1;
    display: block;
    float: left;
    position: absolute;
    bottom:195px;
    left:318px;
}
.m-hiddin4:hover{
    opacity: 0.7;
}
/* 隐藏内容结束 */ 



.m-contacts{
    width: 100%;
    height: 700px;
    background-color: #fff;
}
.m-cont-left{
    width: 470px;
    height: 560px;
    border: 1px solid #ccc;
    margin: 70px 0 70px 315px;
    border-radius: 5px; 
    text-align: center;
    float: left;
}
.m-cont-left form p{
    font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 2px;
    color: #000;
    padding: 50px 0 ;
}
.u-mail1,
.u-subject{
    width: 330px;
	height: 50px;
    border-radius: 2px;
    text-align: left;
    line-height: 50px;
    color:#999;
    border: 1px solid #ccc;
    padding: 0 20px;
    margin-bottom:30px;
}
.u-massage{
    min-width: 330px;
    min-height: 140px;
    max-width: 330px;
	max-height: 140px;
    border-radius: 2px;
    text-align: left;
    line-height: 30px;
    color:#999;
    border: 1px solid #ccc;
    padding: 0 20px;
    margin-bottom:30px;
}
.m-cont-left form button{
    width: 370px;
	height: 50px;
    border-radius: 2px;
    text-align: center;
    line-height: 50px;
    background-color: #141414;
    color: #fff;
    cursor: pointer;
}
.m-cont-right{
    width:360px ;
    height: 700px;
    margin-left:130px;
    float: left;
}
.m-cont-right h3{
	font-size: 42px;
	font-weight: 400;
	line-height: 52px;
    color: #000;
    margin-top:150px;
}
.m-cont-right p{
	font-size: 16px;
	line-height: 26px;
    color: #141414;
    margin-top:40px;
    font-weight: 100;
}
.m-address{
    width: 360px;
    height: 60px;
    background: url(../images/MapIcon.png) no-repeat 4px 6px;
    padding-left:36px;
    margin-top:70px;
    text-align: left;
    color:#000;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
}
.m-mobilephone{
    width: 360px;
    height: 40px;
    background: url(../images/PhoneIcon.png) no-repeat 0px 6px;
    padding-left:36px;
    margin-top:20px;
    text-align: left;
    color:#000;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
}
.m-email-you{
    width: 360px;
    height: 40px;
    background: url(../images/MailIcon.png) no-repeat 0px 6px;
    padding-left:36px;
    margin-top:20px;
    text-align: left;
    color:#000;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
}
/* 主要内容结束 */


/* 页脚内容开始 */
.m-footer{
    clear: both;
    width: 100%;
    height: 410px;
    background-color: #141414;
}
.m-foot-cont{
    margin: 80px auto;
    text-align: left;
    width: 1200px;
}
.m-foot-cont div{
    margin-top: 80px;
    width: 300px;
    float: left;
}
.m-foot-cont div h5{
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 2px;
    color: #ffffff;
    font-weight: 200;
}
.m-foot-cont div ul li{
    list-style: none;
    margin-top:30px; 
}
.m-foot-cont div ul li a{
    display: block;
    color:#666;
    text-decoration: none;
    font-weight: 100;
}
.m-foot-cont div p{
    color:#666;
    text-decoration: none;
    font-weight: 100;
    margin-top:30px;
}
.m-foot-cont div ul li a img{
    float: left;
    margin-right:20px;
    line-height: 30px;
}