*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova-Regular';
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 左侧边栏开始 */
.m-sidebar{
    width: 100px;
    height: 100%;/* 自适应浏览器高度 */
    min-height: 400px;
    background-color: #1d2531;
    position: fixed;/* 绝对定位于浏览器左侧 */
    left:0;
}
.sidebar-top ul li{
    padding: 20px 20px 0 20px;
}
.sidebar-bottom{
    position: absolute;
    bottom: 16px;
    left:4px;
}
.sidebar-bottom a{
    float: left;
    margin-left:20px;
}
/* 左侧边栏结束 */



/* 左侧nav开始 */
.m-nav{
    display: block;
    width: 250px;
    height: 100%; 
    min-height: 740px;
    background-color: #222c3c;
    float: left;
    margin-left: 100px; 
    position: relative;
}
.nav-list{
    width: 190px;
    margin: 20px 30px 0 30px;
    padding-bottom:20px;
    border-bottom:1px solid #2a3547;
}
.nav-list h5{
    font-size: 12px;
    color:#5b6779;
    text-transform: uppercase;/* 文本内容为大写 */
}
.nav-list a img{
    float: right;
    position: relative;
    top:-16px;
}
.nav-list ul li{
    padding-top:14px;
    display: block;
}
.nav-list ul li img{
    position: relative;
    top:2px;
    margin-right:10px;
}
.nav-list ul li a{
    color:#b7c0cd;
    font-size: 14px;
    text-transform: capitalize;/* 文本内容首字母大写 */
}
.nav-list ul li span{
    height: 20px;
    line-height: 20px;
    background-color:#2ea1f8;
    color:#fff;
    padding:0 10px;
    border-radius: 10px;
    font-size: 12px;
    position: absolute;
    right:30px;
}
.warn{
    display: block;
    position: absolute;
    float: right;
    right:-10px;
}

.m-nav p{
    color:#fff;
    position: absolute;
    bottom:50px;
    left:30px;
    font-size: 13px;
}
.m-nav p span{
    padding-left:20px;
}

.u-fill{
    width: 190px;
    height: 4px;
    background: url(../images/Fill.png) no-repeat #2d3848;
    position: absolute;
    left:30px;
    bottom: 30px;
    border-radius: 2px;
}
/* 左侧导航栏结束 */




/* 主内容开始 */
.m-main{
    width: calc(100% - 350px);
    height: 100%;
    min-width: 600px;
    margin-left:350px;
    background-color: #fff;
    display: block;
}


/* 头部内容 */
.m-top{
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 1px 0px #e6e9ec;
    position: relative;
}
.m-top h1{
    font-family: "ProximaNova-Regular";
	font-size: 24px;
	font-weight: 400;
	line-height: 80px;
    color: #354052;
    padding-left:30px;
    float: left;
}
.m-name{
    float: right;
    position: absolute;
    right:30px;
    width: 200px;
}
.m-name img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
    margin:15px 15px 15px 0;
}
.name{
    font-size:16px;
    line-height: 20px;
    color:#2399f1;
    padding-top:20px;
}
.post{
    font-size:14px;
    color:#b5b5b5;
    line-height: 20px;
}
.m-name a{
    display: block;
    width: 12px;
    height: 10px;
    background-image: url(../images/dropdown.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top:35px;
}
.u-state{
    width: 14px;
    height: 14px;
    background-image: url(../images/Status.png);
    background-repeat: no-repeat;
    background-position: center;
    padding:4px;
    background-color: #fff;
    border-radius:10px;
    position: absolute;
    bottom:10px;
    left:32px;
}


/* 消息内容布局，布局方式flex */
.m-all{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.m-left{
    width: 400px;
    height: auto;
    border-right:1px solid #e6e9ec;
    flex: 0 0 auto;
}
.m-right{
    flex: 1 1 auto;
    min-width: 450px;
    width: 100%;
}


/* 搜索框css */
.m-search{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #e6e9ec;
}
.m-search form{
    position: relative;
}
.m-search form input{
    width: 298px;
    height: 38px;
    padding: 0 20px;
    margin: 15px 30px 15px 30px;
    border:1px solid #e6e9ec;
}
.m-search form a{
    display: block;
    width: 34px;
    height: 34px;
    background-image: url(../images/Searchicon.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:15px;
    right:30px;
}


/* 联系人列表 */
/* 选中状态样式 */
.contacts-on{
    width: 350px;
    height: 100px;
    padding: 15px 20px 15px 26px;
    border-bottom: 1px solid #e6e9ec;
    border-left:4px solid #2399f1;
}
.contacts-on a div img{
    width: 46px;
    height: 46px;
    border-radius: 23px;
    float: left;
}
.con-div{
    position: relative;
}
.con-name{
    padding-left:10px;
    margin-left: 56px;
    background-image: url(../images/Status1.png);
    background-repeat: no-repeat;
    background-position: center left;
    color:#2399f1;
    font-size: 16px;
}
.con-time{
	font-size: 14px;
    color: #7f8fa4;
    position: absolute;
    right:0px;
    top:5px;
}
.con-bar{
    margin-top:5px;
    margin-left: 56px;
    font-size: 14px;
    color:#b5b5b5;
}
.con-text{
    clear: left;
    height: 40px;
    width: 310px;
    line-height: 20px;
    font-size: 14px;
    margin-top:15px;
    color: #585d68;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.mess-num{
    height: 24px;
    line-height: 24px;
    padding:0 10px;
    background-color: #2399f1;
    color:#fff;
    border-radius: 12px;
    position: relative;
    float: right;
    top:-35px;
    font-size: 14px;
}


/* 未选中状态样式 */
.contacts-off{
    width: 350px;
    height: 100px;
    padding: 15px 20px 15px 30px;
    border-bottom: 1px solid #e6e9ec;
    overflow: hidden;
}
.contacts-off a div img{
    width: 46px;
    height: 46px;
    border-radius: 23px;
    float: left;
}
.contacts-off .con-name{
    background: none;
    margin-left: 46px;
    color:#585d68;
}
.contacts-off .mess-num{
    height: 0;
    width: 0;
}
.contacts-off .con-text{
    width: 350px;
}


.m-right-top{
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #e6e9ec;
    position: relative;
}
.m-right-top h3{
    font-size: 18px;
    color:#585d68;
    font-weight: 400;
    line-height: 70px;
    padding-left:30px;
}
.top-button{
    width: 286px;
    height: 100%;
    position: absolute;
    top:20px;
    right:20px;
}
.u-button1{
    padding: 5px 10px 5px 10px ;
    background-color: #fafbfc;
    border:1px solid #ced0da;
    border-radius: 5px 0 0 5px;
    float: left;
}
.u-button2{
    padding: 5px 10px 5px 10px ;
    background-color: #fafbfc;
    border-top:1px solid #ced0da;
    border-bottom:1px solid #ced0da;
    float: left;
}
.u-button3{
    padding: 5px 10px 5px 10px ;
    background-color: #fafbfc;
    border:1px solid #ced0da;
    border-radius: 0 5px 5px 0;
    float: left;
}
.top-button p{
    color:#555;
    float: left;
    padding: 0 20px;
    line-height: 32px;
    font-size: 14px;
}

.u-button4{
    padding:5px 12px;
    background-color: #fafbfc;
    border:1px solid #ced0da;
    border-radius: 5px 0 0 5px;
    float: left;
}
.u-button5{
    padding:5px 12px;
    background-color: #fafbfc;
    border-top:1px solid #ced0da;
    border-right:1px solid #ced0da;
    border-bottom:1px solid #ced0da;
    border-radius: 0 5px 5px 0;
    float: left;
}
.top-button div{
    display:block; 
    width: 1px; 
    height:32px; 
    background-color:#ced0da; 
    margin-left:20px; 
    float:left;
}



.m-att img{
    margin:15px 15px 15px 30px;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    float: left;
}
.attname{
    font-size: 16px;
    padding-top:20px;
    color:#585d68;
}

.m-att span{
    font-size: 14px;
    color: #7f8fa4;
    padding-left:20px;
}
.m-att p{
    display:block;
    line-height: 20px;
    font-size: 14px;
    margin:15px 30px 15px 90px;
    color: #585d68;
}
.cut-off-rule{
    width: 100%;
    position: relative;
    margin: 50px 0;
}
.cut-off-rule div{
    width: 100%;
    height: 1px;
    background-color: #ced0da;
}
.cut-off-rule p{
    color:#585d68;
    margin: 0 44%;
    background-color: #fff;
    padding:0 10px;
    position: absolute;
    top:-15px;
}

.footer{
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-top:1px solid #ced0da;
    position: absolute;
    bottom: 0;
}
.footer form a{
    width: 50px;
    height: 50px;
    background-color: #fbfcfd;
    background-image: url(../images/Addicon.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #c6cadb;
    border-radius: 2px 0 0 2px;
    position: relative;
    float: left;
    left:30px;
}
.footer form input{
    display: block;
    width: calc(100% - 908px);
    height: 50px;
    border: 1px solid #c6cadb;
    text-align: left;
    margin: 14px 30px 14px 80px;
    padding:0 20px;
}